.projectNumOverView
{
    width: 320px;
    /* border: 1px solid; */
    height: 200px;
    float: left;
    margin-top: 77px;
    margin-left: 76px;
}
.projectNumOverView-div
{
    width: 150px;
    height: 100%;
    float: left;
}
.projectNumOverView-div div
{
    float: left;
}
.allProjectNum
{
    color: #0D88EA;
    font-size: 35px;
    float: left;
    margin-top: 35px;
    margin-left: 45px;
}
.allProjectText
{
    font-size: 25px;
    margin-left: 17px;
    margin-top: 15px;
    color: #B8AFAB;
}

.finishProjectNum
{
    color: #0D88EA;
    font-size: 35px;
    float: left;
    margin-top: 35px;
    margin-left: 45px;
}
.finishProjectText
{
    font-size: 25px;
    margin-left: 35px;
    margin-top: 15px;
    color: #B8AFAB;
}
.DTS-div,.report-div
{
    float: left;
    width: 400px;
    height: 350px;
    border: 1px solid #B0B0B0;
        margin-top:5px;
}
.report-div
{
    margin-left: 10px;
}
.DTS-div
{
    margin-left: 60px;
}
.showDiv
{
    height: 65px;
    border: 1px solid #F0F0F0;
    width: 390px;
    float: left;
    margin-left: 3px;
}
.showDiv div
{
    float: left;
}
.showDiv div:nth-child(1)
{
    width: 100%;
    height: 25px;
    color: #B9AB92;
    padding-left: 8px;
    line-height: 25px;
}
.showDiv div:nth-child(2)
{
    width: 200px;
    color: #D4D4D4;
    line-height: 25px;
    padding-left: 8px;
}
.showDiv div:nth-child(3)
{
    width: 50px;
    color: #94DB68;
    border: 1px solid #94DB68;
    text-align: center;
    margin-left: 123px;
}
.info
{
    height: 25px;
    font-size: 20px;
    color: #C8C8C8;
    line-height: 25px;
    padding-left: 10px;
    float: left;
    margin-top: 7px;
}
.main
{
    width: 1300px;
}
.radiuDiv
{
    border-width: 1px !important;
    border-style: solid !important;
    border-color: rgb(225, 229, 235) !important;
    border-image: initial !important;
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(90, 97, 105, 0.11) 0px 2px 0px, rgba(90, 97, 105, 0.12) 0px 4px 8px, rgba(90, 97, 105, 0.06) 0px 10px 10px, rgba(90, 97, 105, 0.1) 0px 7px 70px;
}
.completeRatePie,.numPie
{
    width: 600px;
    height: 350px;
    float: left;

    margin-top: 20px;
}
.completeRatePie
{
    margin-left: 70px;
}
.numPie
{
    margin-left: 20px;
}
