<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="layer/css/layui.css"/>
    <link rel="stylesheet" href="css/common.css"/>
    <link rel="stylesheet" href="css/testCaseView-manage.css"/>
    <script src="layer/layui.js"></script>
    <script src="js/jquery-1.11.1.min.js"></script>
    <script src="js/vue.js"></script>
    <script src="js/echarts.js"></script>
    <script src="js/ajaxfileupload.js"></script>
</head>
<body>
<div id="main">
    <div class="tableDiv radiuDiv">
        <div class="search">
            <div>
                <label>项目:</label>
                <select class="projectSelect" v-model="searchCondition.projectId">
                    <option :value="item.id" v-for="item in projectSelect" >{{item.projectName}}</option>
                </select>
            </div>
            <div class="marginLeft15">
                <label>搜索条件:</label>
                <input type="text" v-model="searchCondition.testcaseName">
            </div>
            <div class="marginLeft15">
                <button class="layui-btn layui-btn-normal" @click="search()">搜索</button>
            </div>
        </div>
        <div class="operateDiv">
            <button @click="addNewTestCaseLayer()" class="layui-btn layui-btn-normal">添加用例</button>
            <button  @click="uploadTestCaseViewByExcel()" class="layui-btn layui-btn-normal">上传用例</button>
        </div>
        <table class="layui-table">
            <thead>
            <tr>
                <th>编号</th>
                <th>用例名称</th>
                <th>描述</th>
                <th>脚本</th>
                <th>预期结果</th>
                <th>执行描述</th>
                <th>执行状态</th>
                <th>备注</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="(item,index) in projectInfo">
                <td :title="item.id">{{item.id}}</td>
                <td :title="item.testcaseName">{{item.testcaseName}}</td>
                <td :title="item.testcaseDesc">{{item.testcaseDesc}}</td>
                <td :title="item.testcaseScript">{{item.testcaseScript}}</td>
                <td :title="item.testcaseExcept">{{item.testcaseExcept}}</td>
                <td :title="item.testcaseDostate">{{item.testcaseDostate}}</td>
                <td title="未执行" v-if="item.testcaseState==0">未执行</td>
                <td title="失败" v-if="item.testcaseState==1">失败</td>
                <td title="无效" v-if="item.testcaseState==2">无效</td>
                <td title="成功" v-if="item.testcaseState==3">成功</td>
                <td :title="item.testcaseRemark">{{item.testcaseRemark}}</td>
                <td>
                    <img title="修改执行结果" src="img/table-edit.png" @click="editTestcaseView(item)" />
                    <img title="删除" src="img/table-delete.png" @click="delTestcaseView(item)" />
                    <img title="管理Bug" src="img/bug.png" @click="applyBug(item)" />
                </td>
            </tr>
            </tbody>
        </table>
        <div id="page" class="page"></div>
    </div>


    <div id="addNewTestCase" style="display: none">
        <div>
            <label>用例名称：</label>
            <input type="text" v-model="addNewTestCase.testcaseName">
        </div>
        <div>
            <label>用例描述：</label>
            <textarea v-model="addNewTestCase.testcaseDesc">

            </textarea>
        </div>
        <div>
            <label>预期结果：</label>
            <textarea v-model="addNewTestCase.testcaseExcept">

            </textarea>
        </div>
        <div>
            <label>备注：</label>
            <textarea v-model="addNewTestCase.testcaseRemark">

            </textarea>
        </div>
        <div class="layerButtonDiv">
            <button class="layui-btn layui-btn-normal" @click="addNewTestCaseButton()">确定</button>
        </div>
    </div>


    <div id="editDostate" style="display: none">
        <div>
            <label>执行结果：</label>
            <select v-model="editDostate.testcaseState">
                <option value="0">未执行</option>
                <option value="1">失败</option>
                <option value="2">无效</option>
                <option value="3">成功</option>
            </select>
        </div>

        <div>
            <label>执行结果描述：</label>
            <textarea v-model="editDostate.testcaseDostate">

            </textarea>
        </div>
        <div>
            <label>备注：</label>
            <textarea v-model="editDostate.testcaseRemark">

            </textarea>
        </div>

        <div class="layerButtonDiv">
            <button class="layui-btn layui-btn-normal" @click="editDostateButton()">确定</button>
        </div>
    </div>

    <div id="dtsCreate" style="display: none">
        <img src="img/addDTS.png" @click="addDTSLayer()" style="margin-left: 948px;margin-top: 20px;">
        <table class="layui-table">
            <thead>
            <tr>
                <th>标题</th>
                <th>描述</th>
                <th>等级</th>
                <th>解决人</th>
                <th>状态</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="(item,index) in dtsInfo">
                <td :title="item.dtsTitile">{{item.dtsTitile}}</td>
                <td :title="item.dtsDesc">{{item.dtsDesc}}</td>
                <td :title="item.dtsLevel">{{item.dtsLevel}}</td>
                <td :title="item.dtsSolver">{{item.dtsSolver}}</td>
                <td title="未执行" v-if="item.dtsState==0">未解决</td>
                <td title="失败" v-if="item.dtsState==1">已确认</td>
                <td title="无效" v-if="item.dtsState==2">已解决</td>
                <td>

                    <img title="删除" src="img/table-delete.png" @click="delDTS(item)" />

                </td>
            </tr>
            </tbody>
        </table>
        <div id="dtsPage" class="page"></div>
    </div>



    <div id="addNewDTS" style="display: none">
        <div>
            <label>缺陷名称：</label>
            <input type="text" v-model="newDTS.dtsTitile">
        </div>
        <div>
            <label>缺陷描述：</label>
            <textarea v-model="newDTS.dtsDesc">

            </textarea>
        </div>
        <div>
            <label>缺陷等级：</label>
            <select v-model="newDTS.dtsLevel">
                <option value="一般">一般</option>
                <option value="严重">严重</option>
                <option value="致命">致命</option>
            </select>
        </div>
        <div>
            <label>解决人：</label>
            <select v-model="newDTS.dtsSolver">
                <option :value="item.userName" v-for="item in userDeverInfo" >{{item.userName}}</option>
            </select>
        </div>
        <div class="layerButtonDiv">
            <button class="layui-btn layui-btn-normal" @click="addDTS()">确定</button>
        </div>
    </div>










    <form style="display: none" enctype="multipart/form-data" method="post" action="uploadNewTestCasleByExcel">
        <input type="file" id="fileUpload" name="fileUpload" multiple="multiple" @change="addNewTestCaseView()"/>
        <input type="submit" id="submitExcel" value="上传"/>
    </form>
</div>
<script src="js/testCaseView-manage.js"></script>
</body>
</html>